@{
    ViewData["Title"] = "Home Page";
}

<h3>Welcome to Admin Panel</h3>
<br />
<p>Check Available Passport Offices <a asp-controller="PassportOffices" asp-action="Index">Here</a></p>
<br />
<p>Check Available Appointments <a asp-controller="AppointmentDetails" asp-action="Index">Here</a></p>
<br />
<p>Check User Information <a asp-controller="UserInformation" asp-action="Index">Here</a></p>